{% extends 'mcq1/layout.html' %}
{% block title %}About{% endblock %}
{% block content %}
<div class='container2'>
<strong><text1>About the website</text1></strong><br><br>
<text1>MCQ web application is a website where students can test their knowledge by taking quizzes given 
by their own teachers.<br><br>
A student can :<br><br>
    1) Take quizzes <br>
    2) Gauge their skills in particular topics<br><br>
A teacher can :<br><br>
    1) Create quizzes <br>
    2) Check their own and other teachers' profiles<br>
    3) Take quizzes created by other teachers.<br>
    4) Edit and delete quizzes created by them<br>     
</text1>
</div>
{% endblock %}