{% extends 'mcq1/layout.html' %}
{% block title %}Login{% endblock %}
{% block content %}
<div class='jumbotron'>
<strong><text1>Please login!</text1></strong><br><br>
<form action={% url 'user_login' %} method='POST'>
    {% csrf_token %} 
    <label for='username'>Username:</label>
    <input type='text' name="username" placeholder="Enter Username"><br><br>

    <label for='password'>Password:</label>
    <input type='password' name="password" placeholder="Enter Password"><br><br>

    <button type='submit' name='Login'>Login</button>
</form>
</div>
{% endblock %}