
.navbar {
    background-color: black;
    border-radius: 25px;
}

.navbar ul {
    overflow: auto;
}

.navbar li {
    float: left;
    list-style: none;
    margin: 15px 20px;
}

.navbar li a {
    padding: 3px 3px;
    text-decoration: none;
    color: white;
}

.navbar li a:hover {
    color: grey;
}

.content {
    margin-left: 15px;
}

.quiz_item {
    background-color: whitesmoke;
    margin-top: 10px;
    margin-bottom: 20px;
    margin-right: 30px;
    padding: 3px;
    padding-left: 15px;
    padding-top: 15px;
    border-radius: 20px;
    width: 21%;
    text-align: center;
    vertical-align: middle;
    float: left;
}

.quiz_item li {
    list-style: none;
}

.quiz_name {
    font-size: larger;
}


#quiz_list li {
    list-style: none;
}

.quiz_btn {
    background-color: beige;
    margin-top: 10px;
    padding: 7px;
    border-radius: 20px;
}

.quiz_btn a {
    text-decoration: none;
    color: black;
}

.jumbotron {
    text-align: center;
    margin: 30%;
    margin-top: 20px;
    padding: 20px;
    padding-bottom: 40px;
    background-color: whitesmoke;
    border: 7px;
    border-color: black;
}

.container1 {
    text-align: left;
    margin: 30%;
    margin-top: 20px;
    padding: 20px;
    background-color: whitesmoke;
    border: 7px;
    border-color: black;
}

.container2 {
    text-align: left;
    margin: 10px;
    margin-top: 20px;
    padding: 20px;
    padding-bottom: 16%;
    background-color: whitesmoke;
    border: 7px;
    border-color: black;
}

text {
    color: green;
}

text1 {
    font-size: x-large;
}